////PRIMARY COLORS

//blues
$brand-blue: #0071bc;
$brand-blue-darker: #205493;
$brand-blue-darkest: #112e51;

//reds
$brand-red: #e31c3d;
$brand-red-darker: #981b1e;
$brand-red-darkest: #cd2026;


//grays
$base: #212121;
$dark-gray: #323a45;
$light-gray: #aeb0b5;
$white: #ffffff;
