%modal {
  @include transform(translateY(100%));
  @include transition(all 0.4s ease);
  background: $white;
  bottom: 2em;
  box-shadow: 0 3px 3px rgba($dark-gray, 0.2);
  box-sizing: border-box;
  left: 50%;
  margin-left: -320px;
  opacity: 0;
  padding: 2.25em 2em 1.5em;
  position: fixed;
  top: 2em;
  visibility: hidden;
  width: 620px;
  z-index: 1000;

  &.active {
    @include transform(translateY(0));
    opacity: 1;
    visibility: visible;
  }

  h2 {
    color: $brand-blue-darker;
    text-align: center;
  }

  p {
    line-height: 1.3em;
    text-align: justify;
  }

  .action {
    text-align: center;
  }

  .button {
    font-size: 1.1em;
    margin-top: 1.25em;
  }

  .close {
    color: $white;
    cursor: pointer;
    font-size: 3em;
    font-weight: 400;
    line-height: 1em;
    position: absolute;
    right: -0.75em;
    top: -0.3em;
  }
}
