@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700|Source+Sans+Pro:400,600,400italic);
.modal {
  -webkit-transform: translateY(10%);
  -moz-transform: translateY(10%);
  -ms-transform: translateY(10%);
  -o-transform: translateY(10%);
  transform: translateY(10%);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: #ffffff;
  border: 2px solid #aeb0b5;
  box-shadow: 0 3px 3px rgba(50, 58, 69, 0.1);
  box-sizing: border-box;
  height: 350px;
  left: 50%;
  margin: -175px 0 0 -250px;
  opacity: 0;
  padding: 2.25em 1.5em 1.5em;
  position: absolute;
  top: 50%;
  visibility: hidden;
  width: 500px;
  z-index: 1000; }
  .active.modal {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible; }
  .modal h2 {
    color: #205493;
    text-align: center; }
  .modal p {
    line-height: 1.3em;
    text-align: justify; }
  .modal .action {
    text-align: center; }
  .modal .button {
    font-size: 1.1em;
    margin-top: 1.25em; }

.state-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: #ffffff url("../../../images/arrow-down.svg") no-repeat;
  background-position: right 1.3em center;
  background-size: 1em 1em;
  border: 1px solid #5b616b;
  border-radius: 0;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: block;
  font-size: 1em;
  margin: 0.2em 0;
  outline: none;
  padding: 1em 0.7em;
  width: 100%; }
  .state-select select:focus {
    outline: none; }

body {
  font-family: "Source Sans Pro";
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather"; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 1em; }

body {
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0; }

aside,
div,
header {
  box-sizing: border-box; }

.button {
  background-color: #0071bc;
  border-radius: 0.25em;
  box-shadow: none;
  color: #ffffff;
  display: inline-block;
  font-weight: 600;
  padding: 0.8em 1.3em;
  text-decoration: none; }
  .button:active {
    background-color: #112e51; }
  .button:hover {
    background-color: #205493; }

.close {
  color: #aeb0b5;
  cursor: pointer;
  font-family: "Helvetica", sans-serif;
  font-size: 1.65em;
  font-weight: 400;
  line-height: 1em;
  position: absolute;
  right: 0.5em;
  top: 0.5em; }

.hero {
  background-color: #aeb0b5;
  color: #ffffff;
  height: 600px;
  padding-top: 6em; }
  .hero h1 {
    font-size: 4em;
    margin-bottom: 0.25em; }
  .hero p {
    line-height: 1.5em;
    margin-top: 0; }
  .hero .content {
    margin: 0 auto;
    max-width: 30em;
    text-align: center; }

.js .no-js-hide {
  display: none; }

.state-select {
  margin-top: 2em; }

.usa {
  background-color: #323a45;
  color: #ffffff;
  font-size: 0.8em;
  padding: 0.25em 0;
  text-align: center; }
  .usa img {
    margin-right: 0.5em; }
  .usa p {
    margin: 0;
    padding: 0; }

/*# sourceMappingURL=main.css.map */
