@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700|Source+Sans+Pro:400,600,400italic);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.footer .container {
  margin: 0 auto;
  max-width: 68em;
  padding: 0 2.5em; }

body {
  font-family: "Source Sans Pro";
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather"; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 1em; }

.modal {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: #ffffff;
  box-shadow: 0 3px 3px rgba(50, 58, 69, 0.1);
  box-sizing: border-box;
  height: 100%;
  opacity: 0;
  padding: 2.25em 1.5em 1.5em;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1000; }
  .active.modal {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible; }
  .modal h2 {
    color: #205493;
    text-align: center; }
  .modal p {
    line-height: 1.3em;
    text-align: justify; }
  .modal .action {
    text-align: center; }
  .modal .button {
    font-size: 1.1em;
    margin-top: 1.25em; }

.state-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: #ffffff url("../../../images/arrow-down.svg") no-repeat;
  background-position: right 1.3em center;
  background-size: 1em 1em;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-family: "Source Sans Pro";
  font-size: 1em;
  margin: 0.2em 0;
  outline: none;
  padding: 1em 0.7em;
  width: 100%; }
  .state-select select:focus {
    outline: none; }

body {
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; }

aside,
div,
header {
  box-sizing: border-box; }

figure {
  margin: 0;
  padding: 0; }

.button {
  background-color: #0071bc;
  border-radius: 0.25em;
  box-shadow: none;
  color: #ffffff;
  display: inline-block;
  font-weight: 600;
  padding: 0.8em 1.3em;
  text-decoration: none; }
  .button:active {
    background-color: #112e51; }
  .button:hover {
    background-color: #205493; }

.close {
  color: #aeb0b5;
  cursor: pointer;
  font-family: "Helvetica", sans-serif;
  font-size: 1.65em;
  font-weight: 400;
  line-height: 1em;
  position: absolute;
  right: 0.5em;
  top: 0.5em; }

.footer {
  background: #323a45;
  padding: 3.5em 0 4.5em; }
  .footer .container::after {
    clear: both;
    content: "";
    display: table; }
  .footer .gsa-logo {
    float: left;
    width: 75px; }
  .footer .site-description {
    color: #ffffff;
    font-size: 0.8em;
    line-height: 1.2em;
    overflow: hidden;
    padding-left: 1em;
    width: auto; }
  .footer .usa-logo {
    float: right;
    width: 150px; }

.footer-col {
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 47.58542%; }
  .footer-col:last-child {
    margin-right: 0; }
  .footer-col img {
    width: 100%; }

.hero {
  background-image: linear-gradient(60deg, rgba(0, 52, 86, 0.6) -10%, rgba(35, 167, 255, 0.7) 90%), url("../../../images/mullet2_lightened.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  height: 600px;
  padding-top: 4em; }
  .hero h1 {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 4.5em;
    font-weight: 400;
    margin-bottom: 0.5em; }
  .hero p {
    font-family: "Merriweather";
    font-size: 1.25em;
    line-height: 1.5em;
    margin: 0; }
  .hero .content {
    margin: 0 auto;
    max-width: 50em;
    text-align: center; }
  .hero .description {
    margin: 0 auto;
    max-width: 40em; }

.js .no-js-hide {
  display: none; }

.modal iframe {
  border: none;
  display: block;
  height: 100%;
  margin: 0 auto;
  max-width: 600px;
  width: 100%; }

.state-select {
  margin: 1em auto 0;
  max-width: 30em; }
  .state-select label {
    visibility: hidden; }

.who {
  display: block;
  margin-left: 0.5em; }

.usa {
  background-color: #323a45;
  color: #ffffff;
  font-size: 0.8em;
  padding: 0.25em 0;
  text-align: center; }
  .usa img {
    margin-right: 0.5em; }
  .usa p {
    margin: 0;
    padding: 0; }

.video {
  padding: 4em 0; }
  .video::after {
    clear: both;
    content: "";
    display: table; }
  .video h1 {
    color: #0071bc;
    margin: 0 0 0.25em; }
  .video p {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em; }
  .video .col {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%; }
    .video .col:last-child {
      margin-right: 0; }
  .video .content-container {
    margin: 0 auto;
    max-width: 900px; }

.video-container {
  height: 0;
  margin: 0 auto;
  padding-bottom: 56%;
  position: relative; }
  .video-container iframe {
    border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

/*# sourceMappingURL=main.css.map */
