@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700|Source+Sans+Pro:400,600,400italic);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.footer .container, .hero .content, .video .content-container {
  margin: 0 auto;
  max-width: 68em;
  padding: 0 1em; }
  @media screen and (min-width: 40em) {
    .footer .container, .hero .content, .video .content-container {
      padding: 0 2.5em; } }

body {
  font-family: "Source Sans Pro";
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather"; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 1em; }

.modal {
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transform: translateY(-10%);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: #ffffff;
  bottom: 0;
  box-shadow: 0 3px 3px rgba(50, 58, 69, 0.2);
  box-sizing: border-box;
  opacity: 0;
  padding: 2em 2em 1em;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1000; }
  @media screen and (min-width: 40em) {
    .modal {
      height: 550px;
      left: 50%;
      margin-left: -320px;
      padding: 2.25em 2em 1.5em;
      top: 2em;
      width: 620px; } }
  .active.modal {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible; }
  .modal h2 {
    color: #205493;
    text-align: center; }
  .modal p {
    line-height: 1.3em; }
  .modal .action {
    text-align: center; }
  .modal .button {
    font-size: 1.1em; }
  .modal .close {
    color: #323a45;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1em;
    position: absolute;
    right: 0.25em;
    top: 0.25em; }
    @media screen and (min-width: 40em) {
      .modal .close {
        color: #ffffff;
        font-size: 3em;
        font-weight: 400;
        right: -0.75em;
        top: -0.3em; } }

.state-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: #ffffff url("../../../images/arrow-down.svg") no-repeat;
  background-position: 98% center;
  background-size: 1em 1em;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-family: "Source Sans Pro";
  font-size: 0.9em;
  margin: 0.2em 0;
  padding: 0.7em;
  width: 100%; }
  @media screen and (min-width: 40em) {
    .state-select select {
      font-size: 1em;
      padding: 1em 0.7em; } }
  .state-select select:focus {
    box-shadow: 0 2px 2px rgba(227, 28, 61, 0.1); }

body {
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; }

aside,
div,
header,
section {
  box-sizing: border-box;
  display: block; }

figure {
  margin: 0;
  padding: 0; }

.button {
  background-color: #0071bc;
  border-radius: 0.25em;
  box-shadow: none;
  color: #ffffff;
  display: inline-block;
  font-weight: 600;
  padding: 0.8em 1.3em;
  text-decoration: none; }
  .button:active {
    background-color: #112e51; }
  .button:hover {
    background-color: #205493; }

.footer {
  background: #323a45;
  padding: 3.5em 0 4.5em; }
  .footer .disclaimer {
    color: #aeb0b5;
    font-size: 0.8em;
    margin-top: 15px; }
    .footer .disclaimer p {
      margin-top: 0px;
      line-height: 1.1em; }
    @media screen and (min-width: 53.75em) {
      .footer .disclaimer {
        margin-top: 0px;
        text-align: right; } }
  .footer .gsa-logo {
    float: left;
    width: 75px;
    margin-top: 10px; }
    @media screen and (min-width: 53.75em) {
      .footer .gsa-logo {
        margin-left: 10px;
        margin-top: 0px; } }
  .footer .row:after {
    clear: both;
    content: "";
    display: table; }
  .footer .site-description {
    color: #ffffff;
    font-size: 0.8em;
    line-height: 1.1em;
    overflow: hidden;
    padding-left: 1em;
    width: auto; }
    .footer .site-description p {
      margin-top: 10px; }
      @media screen and (min-width: 53.75em) {
        .footer .site-description p {
          margin-top: 0px; } }
  .footer .pif-logo {
    width: 70px; }
  .footer .usa-logo {
    width: 130px;
    margin-left: 5px;
    margin-top: 10px; }
    @media screen and (min-width: 53.75em) {
      .footer .usa-logo {
        margin-left: 3%; } }

.footer-col:after {
  clear: both;
  content: "";
  display: table; }
@media screen and (min-width: 53.75em) {
  .footer-col.left {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 19.75788%;
    width: 26.75%;
    margin-right: 0px; }
    .footer-col.left:last-child {
      margin-right: 0; } }
@media screen and (min-width: 53.75em) {
  .footer-col.middle {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 31.22104%; }
    .footer-col.middle:last-child {
      margin-right: 0; } }
@media screen and (min-width: 53.75em) {
  .footer-col.right {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 42.6842%;
    float: right;
    width: 38%; }
    .footer-col.right:last-child {
      margin-right: 0; } }
.footer-col a {
  display: block; }
.footer-col img {
  width: 100%; }
.footer-col .logo {
  float: left; }
.footer-col .logos {
  margin-top: 2em; }
  .footer-col .logos:after {
    clear: both;
    content: "";
    display: table; }

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0; }
  @media screen and (min-width: 40em) {
    .footer-links {
      margin-top: 1em; } }
  .footer-links a {
    color: #b3b3b3;
    text-decoration: none; }
    .footer-links a:hover {
      color: #ffffff;
      text-decoration: underline; }
  .footer-links li {
    display: inline-block;
    font-size: 0.85em;
    margin: 0 1em 0.5em 0; }

.hero {
  background-image: linear-gradient(60deg, rgba(0, 36, 61, 0.7) -10%, rgba(0, 144, 239, 0.8) 100%), url("../../../images/NewHero2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  height: 400px;
  padding-top: 3.5em; }
  @media screen and (min-width: 40em) {
    .hero {
      height: 600px;
      padding-top: 5em; } }
  .hero p {
    font-family: "Merriweather";
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0; }
    @media screen and (min-width: 40em) {
      .hero p {
        font-size: 1.25em; } }
  .hero .actions {
    font-family: "Merriweather";
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: 1em;
    text-align: center; }
    .hero .actions a {
      color: #ffffff;
      font-weight: bold; }
  .hero .content h1,
  .hero .content p {
    text-align: center; }
  .hero .description {
    margin: 0 auto;
    max-width: 40em; }

.hero-header {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 1em;
  font-weight: 400;
  line-height: 32px; }
  .hero-header .header-top {
    font-size: 2em; }
    @media screen and (min-width: 40em) {
      .hero-header .header-top {
        font-size: 4em;
        line-height: 105px; } }
    @media screen and (min-width: 53.75em) {
      .hero-header .header-top {
        font-size: 4.5em;
        line-height: 120px; } }
  .hero-header .who {
    font-size: 2em;
    margin-bottom: 0.5em; }
    @media screen and (min-width: 40em) {
      .hero-header .who {
        font-size: 4em; } }
    @media screen and (min-width: 53.75em) {
      .hero-header .who {
        font-size: 4.5em; } }

.intro-slide {
  height: 100%; }
  .intro-slide h2 {
    font-size: 2em;
    margin: 0.25em 0 1em; }
  .intro-slide h3 {
    font-size: 1.15em;
    margin: 0 0 0.25em;
    padding-top: 0.5em; }
  .intro-slide p {
    margin-top: 0; }
  .intro-slide ul {
    margin-bottom: 0.25em;
    list-style: none;
    padding-left: 0; }
  .intro-slide .content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .intro-slide .content:last-child {
      margin-right: 0; }
  .intro-slide .disclaimer {
    color: #93969d;
    font-size: 0.7em;
    margin-top: 0.5em; }
  .intro-slide .image {
    float: left;
    height: 90px;
    width: 90px; }
    .intro-slide .image img {
      width: 78%; }
  .intro-slide .other-options {
    font-size: 0.9em;
    margin-top: 0.75em;
    text-align: center; }
    .intro-slide .other-options a {
      color: #0071bc; }
  .intro-slide .step:after {
    clear: both;
    content: "";
    display: table; }
  .intro-slide .step:first-child {
    border-top: 0; }
  @media screen and (min-width: 40em) {
    .intro-slide .steps {
      margin: 0 auto;
      width: 90%; } }

.js .no-js-hide {
  display: none; }

.modal iframe {
  border: none;
  display: block;
  height: 108%;
  margin: 0 auto;
  max-width: 600px;
  width: 100%; }

.no-cssgradients .hero {
  background-image: url("../../../images/new-hero-ie.jpg"); }

.no-js .modal {
  display: none; }
.no-js .state-select {
  display: none; }

@media screen and (min-width: 40em) {
  .no-svg .social-buttons div {
    height: 38px;
    width: 38px; } }
.no-svg .social-buttons div.facebook {
  background-image: url("../../../images/facebook.png"); }
.no-svg .social-buttons div.twitter {
  background-image: url("../../../images/twitter.png"); }

.overlay {
  background-color: rgba(50, 58, 69, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden; }
  .overlay.active {
    opacity: 1;
    visibility: visible; }

.safari .hero {
  background-image: url("../../../images/new-hero-ie.jpg"); }

.social-buttons {
  margin-top: 1.5em;
  text-align: center; }
  @media screen and (min-width: 40em) {
    .social-buttons {
      margin-top: 3em; } }
  .social-buttons h2 {
    font-family: "Source Sans Pro";
    font-size: 1.3em; }
  .social-buttons div {
    height: 30px;
    width: 30px; }
    @media screen and (min-width: 40em) {
      .social-buttons div {
        height: 38px;
        width: 38px; } }
    .social-buttons div.facebook {
      background-image: url("../../../images/facebook.svg"); }
    .social-buttons div.twitter {
      background-image: url("../../../images/twitter.svg"); }
  .social-buttons img {
    width: 100%; }
  .social-buttons li {
    display: inline-block; }
    .social-buttons li:first-child {
      margin-right: 1em; }
  .social-buttons ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }

.slides {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%; }
  .slides .slide {
    float: left;
    height: 100%;
    min-width: 556px;
    width: 50%; }
  .slides .slide-container {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    height: 100%;
    left: 0;
    position: absolute; }
    .slides .slide-container.right {
      left: -100%; }

.active .slide-container {
  width: 200%; }

@media screen and (min-width: 40em) {
  .state-modal {
    height: 320px;
    margin: -160px 0 0 -320px;
    top: 50%; } }
.state-modal p {
  text-align: center; }

.state-select {
  margin: 0.25em auto 0;
  max-width: 30em; }
  @media screen and (min-width: 40em) {
    .state-select {
      margin-top: 1em; } }
  .state-select label {
    font-size: 0.25em;
    visibility: hidden; }

.usa {
  background-color: #323a45;
  color: #ffffff;
  font-size: 0.8em;
  padding: 0.25em 0;
  text-align: center; }
  .usa img {
    margin-right: 0.5em; }
  .usa p {
    margin: 0;
    padding: 0; }

.video {
  padding: 4em 0; }
  .video h1 {
    color: #0071bc;
    margin: 0 0 0.25em; }
  .video p {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em; }
  @media screen and (min-width: 40em) {
    .video .col {
      float: left;
      display: block;
      margin-right: 4.82916%;
      width: 47.58542%; }
      .video .col:last-child {
        margin-right: 0; }
      .video .col.video-col {
        width: 42%; } }
  .video .content-container:after {
    clear: both;
    content: "";
    display: table; }
  .video .video-col {
    margin-bottom: 2em; }
  .video .video-content h1 {
    font-size: 1.3em; }
  .video .video-content p {
    font-size: 1em;
    line-height: 1.4em; }
  @media screen and (min-width: 40em) {
    .video .video-content h1 {
      font-size: 2em; }
    .video .video-content p {
      font-size: 1.1em;
      line-height: 1.5em; } }

.video-container {
  height: 0;
  margin: 0 auto;
  padding-bottom: 56%;
  position: relative; }
  .video-container iframe {
    border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0; }

.website-links {
  border-bottom: 1px solid #aeb0b5;
  color: #ffffff;
  list-style: none;
  margin-bottom: 1em;
  padding: 0 0 1em;
  text-transform: uppercase; }
  .website-links a {
    color: #b3b3b3;
    text-decoration: none;
    vertical-align: center; }
    .website-links a:hover {
      color: #ffffff;
      text-decoration: underline; }
  .website-links li {
    font-size: 0.9em;
    text-align: center;
    line-height: 21px; }
    .website-links li:last-child {
      border-right: none; }
    @media screen and (min-width: 53.75em) {
      .website-links li {
        display: inline-block;
        border-right: 1px solid #ffffff;
        padding: 0 0.5em; }
        .website-links li:first-child {
          padding-left: 0px; } }

.who {
  display: block;
  margin-left: 0.35em; }

/*# sourceMappingURL=main.css.map */
