html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.footer .container, .hero .content, .actions .content-container, .usa-gov .container {
  margin: 0 auto;
  max-width: 68em;
  padding: 0 1em; }
  @media screen and (min-width: 40em) {
    .footer .container, .hero .content, .actions .content-container, .usa-gov .container {
      padding: 0 2.5em; } }

@font-face {
  font-family: 'Merriweather';
  src: url("../../../fonts/merriweather-bold-webfont.eot");
  src: url("../../../fonts/merriweather-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/merriweather-bold-webfont.woff2") format("woff2"), url("../../../fonts/merriweather-bold-webfont.woff") format("woff"), url("../../../fonts/merriweather-bold-webfont.ttf") format("truetype"), url("../../../fonts/merriweather-bold-webfont.svg#merriweatherbold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Merriweather';
  src: url("../../../fonts/merriweather-regular-webfont.eot");
  src: url("../../../fonts/merriweather-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/merriweather-regular-webfont.woff2") format("woff2"), url("../../../fonts/merriweather-regular-webfont.woff") format("woff"), url("../../../fonts/merriweather-regular-webfont.ttf") format("truetype"), url("../../../fonts/merriweather-regular-webfont.svg#merriweatherregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../../../fonts/sourcesanspro-regular-webfont.eot");
  src: url("../../../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../../../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../../../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../../../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../../../fonts/sourcesanspro-semibold-webfont.eot");
  src: url("../../../fonts/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("../../../fonts/sourcesanspro-semibold-webfont.woff") format("woff"), url("../../../fonts/sourcesanspro-semibold-webfont.ttf") format("truetype"), url("../../../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Merriweather';
  src: url("../../../fonts/merriweather-bold-webfont.eot");
  src: url("../../../fonts/merriweather-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/merriweather-bold-webfont.woff2") format("woff2"), url("../../../fonts/merriweather-bold-webfont.woff") format("woff"), url("../../../fonts/merriweather-bold-webfont.ttf") format("truetype"), url("../../../fonts/merriweather-bold-webfont.svg#merriweatherbold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Merriweather';
  src: url("../../../fonts/merriweather-regular-webfont.eot");
  src: url("../../../fonts/merriweather-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/merriweather-regular-webfont.woff2") format("woff2"), url("../../../fonts/merriweather-regular-webfont.woff") format("woff"), url("../../../fonts/merriweather-regular-webfont.ttf") format("truetype"), url("../../../fonts/merriweather-regular-webfont.svg#merriweatherregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../../../fonts/sourcesanspro-regular-webfont.eot");
  src: url("../../../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../../../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../../../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../../../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../../../fonts/sourcesanspro-semibold-webfont.eot");
  src: url("../../../fonts/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../../../fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("../../../fonts/sourcesanspro-semibold-webfont.woff") format("woff"), url("../../../fonts/sourcesanspro-semibold-webfont.ttf") format("truetype"), url("../../../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold") format("svg");
  font-weight: 600;
  font-style: normal; }
body {
  font-family: "Source Sans Pro";
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather"; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 1em; }

.modal {
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  transform: translateY(-10%);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: #ffffff;
  bottom: 0;
  box-shadow: 0 3px 3px rgba(50, 58, 69, 0.2);
  box-sizing: border-box;
  opacity: 0;
  padding: 2em 2em 1em;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1000; }
  @media screen and (min-width: 40em) {
    .modal {
      height: 525px;
      left: 50%;
      margin-left: -285px;
      padding: 2.25em 2em 1.5em;
      top: 2em;
      width: 570px; } }
  @media screen and (min-width: 53.75em) {
    .modal {
      margin-left: -310px;
      width: 620px; } }
  .active.modal {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible; }
  .modal h2 {
    color: #205493;
    text-align: center; }
  .modal p {
    line-height: 1.3em; }
  .modal .action {
    text-align: center; }
  .modal .button {
    font-size: 1em; }
    @media screen and (min-width: 40em) {
      .modal .button {
        font-size: 1.1em; } }
  .modal .close {
    color: #323a45;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1em;
    position: absolute;
    right: 0.25em;
    top: 0.25em; }
    @media screen and (min-width: 40em) {
      .modal .close {
        color: #ffffff;
        font-size: 3em;
        font-weight: 400;
        right: -0.75em;
        top: -0.3em; } }
/*
.state-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: #ffffff url("../../../images/arrow-down.svg") no-repeat;
  background-position: 98% center;
  background-size: 1em 1em;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-family: "Source Sans Pro";
  font-size: 0.9em;
  margin: 0.2em 0;
  padding: 0.7em;
  width: 100%; }
  @media screen and (min-width: 40em) {
    .state-select select {
      font-size: 1em;
      padding: 1em 0.7em; } }
  .state-select select:focus {
    box-shadow: 0 2px 2px rgba(227, 28, 61, 0.1); }
*/
a {
  color: #0071bc; }

body {
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; }
  body.no-scroll {
    height: 100%;
    overflow: hidden; }

aside,
div,
header,
section {
  box-sizing: border-box;
  display: block; }

figure {
  margin: 0;
  padding: 0; }

.button {
  background-color: #0071bc;
  border-radius: 0.25em;
  box-shadow: none;
  color: #ffffff;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0.5em;
  padding: 0.7em 1.1em;
  text-decoration: none; }
  @media screen and (min-width: 40em) {
    .button {
      padding: 0.8em 1.3em; } }
  .button:active {
    background-color: #112e51; }
  .button:hover {
    background-color: #205493; }

.footer {
  background: #323a45;
  padding: 2.5em 0 3.5em; }
  .footer .disclaimer {
    color: #aeb0b5;
    font-size: 0.8em;
    margin-top: 15px; }
    @media screen and (min-width: 53.75em) {
      .footer .disclaimer {
        margin-top: 0px;
        text-align: right; } }
    .footer .disclaimer a {
      color: #ffffff; }
    .footer .disclaimer p {
      margin-top: 0px;
      line-height: 1.1em; }
  .footer .gsa-logo {
    float: left;
    width: 75px;
    margin-top: 10px; }
    @media screen and (min-width: 53.75em) {
      .footer .gsa-logo {
        margin-left: 10px;
        margin-top: 0px; } }
  .footer .row:after {
    clear: both;
    content: "";
    display: table; }
  .footer .site-description {
    color: #ffffff;
    font-size: 0.8em;
    line-height: 1.1em;
    overflow: hidden;
    padding-left: 1em;
    width: auto; }
    .footer .site-description p {
      margin-top: 10px; }
      @media screen and (min-width: 53.75em) {
        .footer .site-description p {
          margin-top: 0px; } }
  .footer .pif-logo {
    width: 70px;
    margin-left: 5px; }
  .footer .usa-logo {
    width: 130px;
    margin-top: 10px; }
  .footer .built-by {
    color: #aeb0b5;
    font-size: 0.9em;
    margin-top: 5em; }
    .footer .built-by p {
      text-align: center; }
    .footer .built-by a {
      text-decoration: none;
      color: #b3b3b3; }
      .footer .built-by a:hover {
        color: #fff;
        text-decoration: underline; }
    .footer .built-by img {
      max-height: 15px;
      margin-bottom: -3px;
      margin-left: 2px;
      margin-right: 2px; }

.footer-col:after {
  clear: both;
  content: "";
  display: table; }
@media screen and (min-width: 53.75em) {
  .footer-col.left {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 19.75788%;
    width: 26.75%;
    margin-right: 0px; }
    .footer-col.left:last-child {
      margin-right: 0; } }
@media screen and (min-width: 53.75em) {
  .footer-col.middle {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 31.22104%; }
    .footer-col.middle:last-child {
      margin-right: 0; } }
@media screen and (min-width: 53.75em) {
  .footer-col.right {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 42.6842%;
    float: right;
    width: 38%; }
    .footer-col.right:last-child {
      margin-right: 0; } }
.footer-col .logo a {
  display: block; }
.footer-col img {
  width: 100%; }
.footer-col .logo {
  float: left; }
.footer-col .logos {
  margin-top: 2em; }
  .footer-col .logos:after {
    clear: both;
    content: "";
    display: table; }

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0; }
  @media screen and (min-width: 40em) {
    .footer-links {
      margin-top: 1em; } }
  .footer-links a {
    color: #b3b3b3;
    text-decoration: none; }
    .footer-links a:hover {
      color: #ffffff;
      text-decoration: underline; }
  .footer-links li {
    display: inline-block;
    font-size: 0.85em;
    margin: 0 1em 0.5em 0; }
/*
.hero {
  background-image: linear-gradient(60deg, rgba(0, 36, 61, 0.7) -10%, rgba(0, 144, 239, 0.8) 100%), url("../../../images/NewHero2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  height: 550px;
  padding-top: 6.5em; }
  @media screen and (min-width: 40em) {
    .hero {
      height: 600px;
      padding-top: 5em; } }
  .hero p {
    font-family: "Merriweather";
    font-size: 1em;
    line-height: 1.5em;
    margin: 0; }
    @media screen and (min-width: 40em) {
      .hero p {
        font-size: 1.25em; } }
  .hero .no-js-hide {
    font-family: "Merriweather";
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: 1em;
    text-align: center; }
    .hero .no-js-hide a {
      color: #ffffff;
      font-weight: bold; }
  .hero .content h1,
  .hero .content p {
    text-align: center; }
  .hero .description {
    margin: 0 auto;
    max-width: 40em; }
*/
.hero-header {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 1em;
  font-weight: 400;
  line-height: 35px; }
  .hero-header .header-top {
    font-size: 2em; }
    @media screen and (min-width: 40em) {
      .hero-header .header-top {
        font-size: 4em;
        line-height: 105px; } }
    @media screen and (min-width: 53.75em) {
      .hero-header .header-top {
        font-size: 4.5em;
        line-height: 120px; } }
  .hero-header .who {
    font-size: 2em;
    margin-bottom: 0.5em; }
    @media screen and (min-width: 40em) {
      .hero-header .who {
        font-size: 4em; } }
    @media screen and (min-width: 53.75em) {
      .hero-header .who {
        font-size: 4.5em; } }

.pdf-modal h2 {
  font-size: 1.75em;
  margin: 0.25em 0 1.25em; }
  @media screen and (min-width: 40em) {
    .pdf-modal h2 {
      font-size: 2em; } }
.pdf-modal h3 {
  font-size: 1em;
  margin: 0 0 0.25em;
  padding-top: 0.5em; }
  @media screen and (min-width: 40em) {
    .pdf-modal h3 {
      font-size: 1.15em; } }
.pdf-modal p {
  font-size: 0.9em;
  margin-top: 0; }
  @media screen and (min-width: 40em) {
    .pdf-modal p {
      font-size: 1em; } }
.pdf-modal ul {
  list-style: none;
  margin-bottom: .75em;
  padding-left: 0; }
.pdf-modal .content {
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 65.05695%; }
  .pdf-modal .content:last-child {
    margin-right: 0; }
.pdf-modal .eac {
  color: #797c84;
  font-size: 0.9em;
  text-align: center; }
.pdf-modal .image {
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 30.11389%;
  max-width: 60px; }
  .pdf-modal .image:last-child {
    margin-right: 0; }
  .pdf-modal .image img {
    width: 100%; }
.pdf-modal .other-options {
  font-size: 0.9em;
  margin-top: 0;
  text-align: center; }
  .pdf-modal .other-options a {
    color: #0071bc; }
.pdf-modal .step {
  margin-bottom: 0.5em; }
  .pdf-modal .step:after {
    clear: both;
    content: "";
    display: table; }
  .pdf-modal .step:first-child {
    border-top: 0; }
@media screen and (min-width: 40em) {
  .pdf-modal .steps {
    margin: 0 auto 1em;
    width: 90%; } }

.js .no-js-hide {
  display: none; }

.modal iframe {
  border: none;
  display: block;
  height: 108%;
  margin: 0 auto;
  max-width: 600px;
  width: 100%; }

.ios .hero,
.no-cssgradients .hero,
.no-multiplebgs .hero {
  background-image: url("../../../images/new-hero-ie.jpg"); }

.no-js .modal {
  display: none; }
.no-js .state-select {
  display: none; }

@media screen and (min-width: 40em) {
  .no-svg .actions .col {
    width: 30%; } }
@media screen and (min-width: 40em) {
  .no-svg .social-buttons div {
    height: 38px;
    width: 38px; } }
.no-svg .social-buttons div.facebook {
  background-image: url("../../../images/facebook.png"); }
.no-svg .social-buttons div.twitter {
  background-image: url("../../../images/twitter.png"); }

.overlay {
  background-color: rgba(50, 58, 69, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden; }
  .overlay.active {
    opacity: 1;
    visibility: visible; }

.safari .hero {
  background-image: url("../../../images/new-hero-ie.jpg"); }

.social-buttons {
  margin-top: 1.5em;
  text-align: center; }
  @media screen and (min-width: 40em) {
    .social-buttons {
      margin-top: 3em; } }
  .social-buttons h2 {
    font-family: "Source Sans Pro";
    font-size: 1.3em; }
  .social-buttons div {
    height: 30px;
    width: 30px; }
    @media screen and (min-width: 40em) {
      .social-buttons div {
        height: 38px;
        width: 38px; } }
    .social-buttons div.facebook {
      background-image: url("../../../images/facebook.svg"); }
      .social-buttons div.facebook:hover {
        opacity: 0.8; }
    .social-buttons div.twitter {
      background-image: url("../../../images/twitter.svg"); }
      .social-buttons div.twitter:hover {
        opacity: 0.8; }
  .social-buttons img {
    width: 100%; }
  .social-buttons li {
    display: inline-block; }
    .social-buttons li:first-child {
      margin-right: 1em; }
  .social-buttons ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }

.active .slide-container {
  width: 200%; }

@media screen and (min-width: 40em) {
  .no-vote-modal,
  .state-modal {
    height: 320px;
    margin: -160px 0 0 -320px;
    top: 50%; } }
.no-vote-modal p,
.state-modal p {
  text-align: center; }

.state-select {
  margin: 0.25em auto 0;
  max-width: 30em; }
  @media screen and (min-width: 40em) {
    .state-select {
      margin-top: 1em; } }
  .state-select label {
    font-size: 0.25em;
    visibility: hidden; }

.usa {
  background-color: #323a45;
  color: #ffffff;
  font-size: 0.8em;
  padding: 0.25em 0;
  text-align: center; }
  .usa img {
    margin-right: 0.5em; }
  .usa p {
    margin: 0;
    padding: 0; }

.actions {
  background-color: #153a66;
  padding: 3em 0;
  text-align: center; }
  @media screen and (min-width: 40em) {
    .actions {
      padding: 5em 0 3.5em 0; } }
  @media screen and (min-width: 40em) {
    .actions .col {
      float: left;
      display: block;
      margin-right: 3.16844%;
      width: 31.22104%; }
      .actions .col:last-child {
        margin-right: 0; } }
  .actions .row {
    margin-bottom: 25px; }
    .actions .row:after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 40em) {
      .actions .row {
        margin-top: 25px; } }
  .actions h1 {
    color: #23a7ff;
    font-size: 1.5em;
    margin: 0 0 0.25em; }
    @media screen and (min-width: 40em) {
      .actions h1 {
        font-size: 2em; } }
  .actions h3 {
    color: #ffffff;
    font-size: 1.1em;
    line-height: 1.3em;
    margin-top: 0; }
  .actions p {
    line-height: 1.4em;
    font-size: 1em; }
  .actions .button {
    background-color: #e42141;
    padding: 1.1em 1.4em;
    text-transform: uppercase; }
    .actions .button:hover {
      background-color: #ae1f22; }
  .actions img {
    max-height: 120px; }
    @media screen and (min-width: 40em) {
      .actions img {
        max-height: 150px; } }
  .actions .content-container:after {
    clear: both;
    content: "";
    display: table; }

.website-links {
  border-bottom: 1px solid #aeb0b5;
  color: #ffffff;
  list-style: none;
  margin-bottom: 1em;
  padding: 0 0 1em;
  text-transform: uppercase; }
  .website-links a {
    color: #b3b3b3;
    text-decoration: none;
    vertical-align: center; }
    .website-links a:hover {
      color: #ffffff;
      text-decoration: underline; }
  .website-links li {
    font-size: 0.9em;
    text-align: center;
    line-height: 21px; }
    .website-links li:last-child {
      border-right: none; }
    @media screen and (min-width: 53.75em) {
      .website-links li {
        display: inline-block;
        border-right: 1px solid #ffffff;
        padding: 0 0.5em; }
        .website-links li:first-child {
          padding-left: 0px; } }

.who {
  display: block;
  margin-left: 0.35em; }

.representation {
  padding: 2em 0 3em 0;
  text-align: center; }
  .representation h1 {
    color: #0071bc;
    margin-bottom: 0.5em;
    font-size: 1.4em; }
    @media screen and (min-width: 40em) {
      .representation h1 {
        font-size: 2em; } }
    .representation h1 sup {
      font-size: 0.5em; }
      .representation h1 sup a {
        color: #aeb0b5; }
    .representation h1 .stat {
      color: #e63350;
      display: block;
      font-size: 2.25em;
      margin-bottom: 0.25em; }
  .representation p {
    font-size: 1em;
    line-height: 1.3em; }
    @media screen and (min-width: 40em) {
      .representation p {
        font-size: 1.1em; } }
  .representation .content-container {
    margin: 0 auto;
    max-width: 700px;
    padding: 0 1em; }
  .representation .image {
    margin: 0 auto;
    width: 90%; }
  .representation .button {
    text-transform: uppercase;
    margin-top: 10px; }
  @media screen and (min-width: 53.75em) {
    .representation {
      padding: 4em 0 5em 0; }
      .representation h2 {
        font-size: 2em; }
      .representation h3 {
        font-size: 1.25em;
        line-height: 1.4em; }
      .representation p {
        line-height: 1.4em;
        font-size: 1.1em; } }

.why-voteusa {
  padding: 3em 0 4em;
  text-align: center; }
  @media screen and (min-width: 40em) {
    .why-voteusa {
      padding: 5em 0 6em; } }
  .why-voteusa h2 {
    color: #0071bc;
    font-size: 1.3em; }
  .why-voteusa h3 {
    color: #93969d;
    font-size: 1.1em;
    line-height: 1.3em; }
  .why-voteusa p {
    line-height: 1.4em;
    font-size: 1em; }
  .why-voteusa .content-container {
    margin: 0 auto;
    max-width: 700px;
    padding: 0 1em; }
    .why-voteusa .content-container:after {
      clear: both;
      content: "";
      display: table; }
  @media screen and (min-width: 53.75em) {
    .why-voteusa h2 {
      font-size: 2em; }
    .why-voteusa h3 {
      font-size: 1.3em;
      line-height: 1.4em; }
    .why-voteusa p {
      line-height: 1.5em;
      font-size: 1.1em; } }

.usa-gov {
  margin: 0;
  padding: 0; }
  .usa-gov ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .usa-gov .betalnk a {
    color: #ffffff;
    text-decoration: none; }
  .usa-gov #content {
    padding-top: 2em; }
    .usa-gov #content h1 {
      color: #9f142b;
      font-family: "Source Sans Pro";
      font-size: 1.75em;
      font-weight: normal; }
    .usa-gov #content h2 {
      color: #005289;
      font-family: "Source Sans Pro";
      font-size: 1.35em;
      margin-top: 1.5em; }
    .usa-gov #content ul {
      line-height: 1.2em;
      list-style: disc;
      margin-left: 1.5em; }
      .usa-gov #content ul ul {
        list-style: circle; }
    .usa-gov #content .button {
      background: none;
      padding: 0; }
      .usa-gov #content .button button {
        background-color: #0071bc;
        color: #ffffff;
        padding: 1em; }
    .usa-gov #content .flat {
      padding-left: 1em; }
    .usa-gov #content .text {
      background-color: #eff9ff;
      padding: 1em 0 1em 1em; }
  .usa-gov .cntrlogo {
    text-align: left; }
    @media screen and (min-width: 40em) {
      .usa-gov .cntrlogo {
        text-align: center; } }
    .usa-gov .cntrlogo img {
      max-width: 12em; }
      @media screen and (min-width: 40em) {
        .usa-gov .cntrlogo img {
          max-width: none; } }
  .usa-gov .logolink {
    display: inline-block; }
  .usa-gov .mnmenu .container {
    max-width: 75em; }
  .usa-gov .navItems {
    display: none; }
    .usa-gov .navItems:after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 40em) {
      .usa-gov .navItems {
        display: block; } }
    .usa-gov .navItems li {
      float: left;
      display: block;
      margin-right: 1.75788%;
      width: 10.96186%;
      text-align: center; }
      .usa-gov .navItems li:last-child {
        margin-right: 0; }
      .usa-gov .navItems li a {
        color: #ffffff;
        display: table;
        height: 115px;
        text-decoration: none;
        width: 100%; }
        .usa-gov .navItems li a.current {
          background: #fff;
          border: none;
          border-top: 6px solid #c61f0c;
          color: #1b50a0;
          font-weight: normal;
          padding: 4px 0 0 0; }
      .usa-gov .navItems li span {
        display: table-cell;
        background-repeat: no-repeat;
        background-position: top center;
        line-height: 20px;
        padding: 40px 0 0 0;
        position: relative;
        vertical-align: middle; }
      .usa-gov .navItems li .icon-agencies {
        background-image: url("https://vote.usa.gov/assets/images/gsa/Icon_Nav_Money.png"); }
      .usa-gov .navItems li .icon-globe {
        background-image: url("https://vote.usa.gov/assets/images/gsa/Icon_Nav_Elected_Officials.png"); }
      .usa-gov .navItems li .icon-heart {
        background-image: url("https://vote.usa.gov/assets/images/gsa/Icon_Nav_Health.png"); }
      .usa-gov .navItems li .icon-home {
        background-image: url("https://vote.usa.gov/assets/images/gsa/Icon_Nav_Home_Red.png"); }
      .usa-gov .navItems li .icon-job {
        background-image: url("https://vote.usa.gov/assets/images/gsa/Icon_Nav_Job.png"); }
      .usa-gov .navItems li .icon-mortgage {
        background-image: url("https://vote.usa.gov/assets/images/gsa/Icon_Nav_Mortgage.png"); }
      .usa-gov .navItems li .icon-plus {
        background-image: url("https://vote.usa.gov/assets/images/gsa/Icon_Nav_Travel.png"); }
      .usa-gov .navItems li .icon-tax {
        background-image: url("https://vote.usa.gov/assets/images/gsa/Icon_Nav_More.png"); }
  .usa-gov .hidden {
    display: none; }
  .usa-gov .searchbkgnd {
    background: #323a45;
    display: none;
    padding: 1em 0; }
    @media screen and (min-width: 40em) {
      .usa-gov .searchbkgnd {
        display: block; } }
    .usa-gov .searchbkgnd p {
      margin-top: 0; }
    .usa-gov .searchbkgnd .container:after {
      clear: both;
      content: "";
      display: table; }
    .usa-gov .searchbkgnd #search {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      .usa-gov .searchbkgnd #search:last-child {
        margin-right: 0; }
      .usa-gov .searchbkgnd #search input {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 1.1em;
        height: 40px;
        padding: 0.25em;
        width: 85%; }
      .usa-gov .searchbkgnd #search .submit {
        background-color: #0071bc;
        border: none;
        color: #ffffff;
        font-size: 1.1em;
        height: 40px;
        outline: none;
        padding: 0 0.75em; }
    .usa-gov .searchbkgnd .searchttl {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      color: #ffffff;
      font-size: 1.2em;
      font-weight: 500;
      padding-top: 0.5em;
      text-align: right; }
      .usa-gov .searchbkgnd .searchttl:last-child {
        margin-right: 0; }
  .usa-gov #header {
    background-color: #1b50a0;
    padding-top: 1em;
    position: relative; }
  .usa-gov #state {
    border: 2px solid #c9cacd; }
  .usa-gov .state-select {
    margin: 0 0 6em; }

/*# sourceMappingURL=main.css.map */
