@import "bourbon/bourbon";
@import "neat/neat";
@import "components/all";

a {
  color: $brand-blue;
}

body {
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;

  &.no-scroll {
    height: 100%;
    overflow: hidden;
  }
}

aside,
div,
header,
section {
  box-sizing: border-box;
  display: block;
}

figure {
  margin: 0;
  padding: 0;
}

.button {
  background-color: $brand-blue;
  border-radius: 0.25em;
  box-shadow: none;
  color: $white;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0.5em;
  padding: 0.7em 1.1em;
  text-decoration: none;

  @include media($medium-screen) {
    padding: 0.8em 1.3em;
  }

  &:active {
    background-color: $brand-blue-darkest;
  }

  &:hover {
    background-color: $brand-blue-darker;
  }
}

.footer {
  background: $dark-gray;
  margin-top: 4em;
  padding: 2.5em 0 0.5em;

  .container {
    @extend %container;
  }

  .disclaimer {
    color: $light-gray;
    font-size: 0.8em;
    // text-align: right;
    margin-top:15px;
    p{
      margin-top:0px;
      line-height:1.1em;
    }
    @include media($large-screen) {
      margin-top:0px;
      text-align:right;
    }
  }



  .gsa-logo {
    float: left;
    width: 75px;
    margin-top:10px;

    @include media($large-screen) {
      margin-left:10px;
      margin-top:0px;
    }
  }


  .row {
    @include clearfix;
  }

  .site-description {
    color: $white;
    font-size: 0.8em;
    line-height: 1.1em;
    overflow: hidden;
    padding-left: 1em;
    width: auto;

    p {
      margin-top:10px;

      @include media($large-screen) {
        margin-top:0px;
      }
    }
  }

  .pif-logo {
    width: 70px;
  }

  .usa-logo {
    width: 130px;
    margin-left:5px;
    margin-top:10px;

    @include media($large-screen) {
      margin-left:3%;
    }
  }

  .built-by{
    margin-top:3em;
    color:#fff;
    p{
      text-align:center;
    }
    a{
      text-decoration:none;
      color:#b3b3b3;
      &:hover{
        color:#fff;
        text-decoration:underline;
      }
    }
    img{
      max-height:15px;
      margin-bottom:-3px;
    }
  }

}

.footer-col {
  @include clearfix;

  &.left{
    @include media($large-screen) {
      @include span-columns(2 of 9);
      width:26.75%;
      margin-right:0px;
    }
  }

  &.middle{
    @include media($large-screen) {
      @include span-columns(3 of 9);
    }
  }

  &.right{
    @include media($large-screen) {
      @include span-columns(4 of 9);
      float:right;
      width:38%;
    }
  }

  a {
    display: block;
  }

  img {
    width: 100%;
  }

  .logo {
    float: left;
  }

  .logos {
    @include clearfix;
    margin-top: 2em;
  }
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;

  @include media($medium-screen) {
    margin-top: 1em;
  }

  a {
    color: darken($white, 30);
    text-decoration: none;

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }

  li {
    display: inline-block;
    font-size: 0.85em;
    margin: 0 1em 0.5em 0;
  }
}

.hero {
  background-image: linear-gradient(60deg, rgba(darken($brand-blue, 25), 0.70) -10%, rgba(lighten($brand-blue, 10), 0.80) 100%), url("../../../images/NewHero2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  height: 400px;
  padding-top: 3.5em;

  @include media($medium-screen) {
    height: 600px;
    padding-top: 5em;
  }

  p {
    font-family: $header-font-family;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0;

    @include media($medium-screen) {
      font-size: 1.25em;
    }
  }

  .actions {
    font-family: $header-font-family;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: 1em;
    text-align: center;

    a {
      color: $white;
      font-weight: bold;
    }
  }

  .content {
    @extend %container;

    h1,
    p {
      text-align: center;
    }
  }

  .description {
    margin: 0 auto;
    max-width: 40em;
  }
}

.hero-header {
  @include transition(all 0.2s ease);
  font-size: 1em;
  font-weight: 400;
  line-height:32px;

  .header-top {
    font-size: 2em;

    @include media($medium-screen) {
      font-size: 4em;
      line-height:105px;
    }

    @include media($large-screen) {
      font-size:4.5em;
      line-height:120px;
    }
  }

  .who {
    font-size: 2em;
    margin-bottom: 0.5em;

    @include media($medium-screen) {
      font-size: 4em;
    }

    @include media($large-screen) {
      font-size: 4.5em;
    }
  }
}

.pdf-modal {

  h2 {
    font-size: 1.75em;
    margin: 0.25em 0 1.25em;

    @include media($medium-screen) {
      font-size: 2em;
    }
  }

  h3 {
    font-size: 1em;
    margin: 0 0 0.25em;
    padding-top: 0.5em;

    @include media($medium-screen) {
      font-size: 1.15em;
    }
  }

  p {
    font-size: 0.9em;
    margin-top: 0;

    @include media($medium-screen) {
      font-size: 1em;
    }
  }

  ul {
    list-style: none;
    margin-bottom: .75em;
    padding-left: 0;
  }

  .content {
    @include span-columns(4 of 6);
  }

  .eac {
    color: darken($light-gray, 20);
    font-size: 0.9em;
    text-align: center;
  }

  .image {
    @include span-columns(2 of 6);
    max-width: 60px;

    img {
      width: 100%;
    }
  }

  .other-options {
    font-size: 0.9em;
    margin-top: 0;
    text-align: center;

    a {
      color: $brand-blue;
    }
  }

  .step {
    @include clearfix;
    margin-bottom: 0.5em;

    &:first-child {
      border-top: 0;
    }
  }

  .steps {
    @include media($medium-screen) {
      margin: 0 auto 1em;
      width: 90%;
    }
  }
}

.js {
  .no-js-hide {
    display: none;
  }
}

.modal {
  @extend %modal;

  iframe {
    border: none;
    display: block;
    height: 108%;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
  }
}

.no-cssgradients {

  .hero {
    background-image: url("../../../images/new-hero-ie.jpg");
  }
}

.no-js {

  .modal {
    display: none;
  }

  .state-select {
    display: none;
  }
}

.no-svg {

  .social-buttons {

    div {

      @include media($medium-screen) {
        height: 38px;
        width: 38px;
      }

      &.facebook {
        background-image: url("../../../images/facebook.png");
      }

      &.twitter {
        background-image: url("../../../images/twitter.png");
      }
    }
  }
}

.overlay {
  background-color: rgba($dark-gray, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.safari {

  .hero {
    background-image: url("../../../images/new-hero-ie.jpg");
  }
}


.social-buttons {
  margin-top: 1.5em;
  text-align: center;

  @include media($medium-screen) {
    margin-top: 3em;
  }

  h2 {
    font-family: $base-font-family;
    font-size: 1.3em;
  }

  div {
    height: 30px;
    width: 30px;

    @include media($medium-screen) {
      height: 38px;
      width: 38px;
    }

    &.facebook {
      background-image: url("../../../images/facebook.svg");
      &:hover{
        opacity:0.8;
      }
    }

    &.twitter {
      background-image: url("../../../images/twitter.svg");
      &:hover{
        opacity:0.8;
      }
    }
  }

  img {
    width: 100%;
  }

  li {
    display: inline-block;

    &:first-child {
      margin-right: 1em;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
}

.active {

  .slide-container {
    width: 200%;
  }
}

.state-modal {

  @include media($medium-screen) {
    height: 320px;
    margin: -160px 0 0 -320px;
    top: 50%;
  }
  p{
    text-align:center;
  }
}

.state-select {
  margin: 0.25em auto 0;
  max-width: 30em;

  @include media($medium-screen) {
    margin-top: 1em;
  }

  label {
    font-size: 0.25em;
    visibility: hidden;
  }

  select {
    @extend %select;
  }
}


.usa {
  background-color: $dark-gray;
  color: $white;
  font-size: 0.8em;
  padding: 0.25em 0;
  text-align: center;

  img {
    margin-right: 0.5em;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.video {
  padding: 4em 0;

  h1 {
    color: $brand-blue;
    margin: 0 0 0.25em;
  }

  p {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
  }

  .col {
    @include media($medium-screen) {
      @include span-columns(3 of 6);
    }

    @include media($large-screen) {
      @include span-columns(3 of 6);

      &.video-col {
      }
    }
  }

  .content-container {
    @extend %container;
    @include clearfix;
  }

  .video-col {
    margin-bottom: 2em;
  }

  .video-content {

    h1 {
      font-size: 1.3em;
      @include media($large-screen) {
        font-size:2em;
        margin-top:5px;
      }
    }

    p {
      font-size:1em;
      line-height:1.4em;
      @include media($large-screen) {
        font-size:1.1em;
        line-height:1.5em;
      }
    }
  }
}

.video-container {
  height: 0;
  margin: 0 auto;
  padding-bottom: 56%;
  position: relative;

  iframe {
    border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.website-links {
  border-bottom: 1px solid $light-gray;
  color: $white;
  list-style: none;
  margin-bottom: 1em;
  padding: 0 0 1em;
  text-transform: uppercase;

  a {
    color: darken($white, 30);
    text-decoration: none;
    vertical-align: center;

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }

  li {
    font-size: 0.9em;
    text-align:center;
    line-height:21px;
    &:last-child{
      border-right:none;
    }

    @include media($large-screen){
      display:inline-block;
      border-right: 1px solid $white;
      padding: 0 0.5em;
      &:first-child{
        padding-left:0px;
      }
    }
  }
}

.who {
  display: block;
  margin-left: 0.35em;
}


.representation {
  background-color: darken($brand-blue, 15);
  padding: 2em 0 3em 0;
  text-align: center;

  h1 {
    color: $white;
    margin-bottom: 0.5em;
    font-size:1.3em;

    .red {
      color: lighten($brand-red, 5);
    }
  }

  p {
    color: $white;
    font-size: 1.1em;
    line-height: 1.3em;
  }

  .content-container {
    margin: 0 auto;
    max-width: 700px;
    padding: 0 1em;
  }

  .image {
    margin: 0 auto;
    // min-width: 400px;
    width: 90%;
  }

  @include media($large-screen) {
    padding: 4em 0 5em 0;

    h1{
      font-size:2em;
    }

    h2 {
      font-size: 1.25em;
      line-height:1.4em;
    }

    p {
      line-height: 1.4em;
      font-size:1.1em;
    }
  }
}

.why-voteusa {
  padding: 3em 0;
  text-align: center;

  h1 {
    color: $brand-blue;
    font-size:1.3em;
  }

  h2 {
    color: darken($light-gray, 10);
    font-size: 1.1em;
    line-height:1.3em;
  }

  p {
    line-height: 1.4em;
    font-size:1em;
  }

  .content-container {
    @include clearfix;
    margin: 0 auto;
    // width: 600px;
    max-width:600px;
    padding:0 1em;
  }

  @include media($large-screen) {

    h1{
      font-size:2em;
    }

    h2 {
      font-size: 1.3em;
      line-height:1.4em;
    }

    p {
      line-height: 1.5em;
      font-size:1.1em;
    }
  }
}
