@import "bourbon/bourbon";
@import "neat/neat";
@import "components/all";


body {
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

aside,
div,
header {
  box-sizing: border-box;
}

figure {
  margin: 0;
  padding: 0;
}

.button {
  background-color: $brand-blue;
  border-radius: 0.25em;
  box-shadow: none;
  color: $white;
  display: inline-block;
  font-weight: 600;
  padding: 0.8em 1.3em;
  text-decoration: none;

  &:active {
    background-color: $brand-blue-darkest;
  }

  &:hover {
    background-color: $brand-blue-darker;
  }
}

.close {
  color: $light-gray;
  cursor: pointer;
  font-family: "Helvetica", sans-serif;
  font-size: 1.65em;
  font-weight: 400;
  line-height: 1em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.footer {
  background: $dark-gray;
  padding: 3.5em 0 4.5em;

  .container {
    @extend %container;
    @include clearfix;
  }

  .gsa-logo {
    float: left;
    width: 75px;
  }

  .site-description {
    color: $white;
    font-size: 0.8em;
    line-height: 1.2em;
    overflow: hidden;
    padding-left: 1em;
    width: auto;
  }

  .usa-logo {
    float: right;
    width: 150px;
  }
}

.footer-col {
  @include span-columns(3 of 6);

  img {
    width: 100%;
  }
}

.hero {
  background-image: linear-gradient(60deg, rgba(darken($brand-blue, 20), 0.60) -10%, rgba(lighten($brand-blue, 20), 0.70) 90%), url("../../../images/mullet2_lightened.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  height: 600px;
  padding-top: 4em;

  h1 {
    @include transition(all 0.2s ease);
    font-size: 4.5em;
    font-weight: 400;
    margin-bottom: 0.5em;
  }

  p {
    font-family: $header-font-family;
    font-size: 1.25em;
    line-height: 1.5em;
    margin: 0;
  }

  .content {
    margin: 0 auto;
    max-width: 50em;
    text-align: center;
  }

  .description {
    margin: 0 auto;
    max-width: 40em;
  }
}

.js {
  .no-js-hide {
    display: none;
  }
}

.modal {
  @extend %modal;

  iframe {
    border: none;
    display: block;
    height: 100%;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
  }
}

.state-select {
  margin: 1em auto 0;
  max-width: 30em;

  label {
    visibility: hidden;
  }

  select {
    @extend %select;
  }
}

.who {
  display: block;
  margin-left: 0.5em;
}


.usa {
  background-color: $dark-gray;
  color: $white;
  font-size: 0.8em;
  padding: 0.25em 0;
  text-align: center;

  img {
    margin-right: 0.5em;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.video {
  @include clearfix;
  padding: 4em 0;

  h1 {
    color: $brand-blue;
    margin: 0 0 0.25em;
  }

  p {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
  }

  .col {
    @include span-columns(3 of 6);
  }

  .content-container {
    margin: 0 auto;
    max-width: 900px;
  }
}

.video-container {
  height: 0;
  margin: 0 auto;
  padding-bottom: 56%;
  position: relative;

  iframe {
    border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
